* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.max-w-md {
  max-width: 28rem;
  position: relative;
  top: 250px;
}
.dsC {
  max-width: 1661px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dsbright {
  padding: 30px 30px;
  max-width: 330px;
  width: 100%;
}
.dsbrightN {
  padding: 20px 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}
.dsbleft {
  max-width: 1190px;
  width: 100%;
  padding: 30px 30px;
}
.dsbrightAdd, .dsbrightUp, .dsbrightDe, .dsbrightAllC, .dsbrightLiP, .dsbrightToO, .dsbrightCanO, .dsbrightCanoID,  .dinesh  {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0px;
}
.dsbrightlogout1{
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  top: 123px;
}
.dsbrightlogout {
  padding: 0px 15px;
}

.dsbrightAddP, .dsbrightDP, .dsbrightAllc, .dsbrightLip, .dsbrightToo, .dsbrightCano, .dsbrightCanId, .dsbrightUP, .completeOOO {
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}